<section>
    <div class="ls">
        <div class="container">
            <div class="con">
                <div class="circulo">
                 <h3>X</h3>
                </div>
            </div>

            <div class="containers">

                <div class="conAmigos">
                    <div class="conDatos">
                        <img src="https://i.pinimg.com/564x/0d/60/14/0d6014d3db35db2cadcf02a782330938.jpg" alt="">
                        <div class="conText">
                            <h1>Silica Ayanami dvdbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb</h1>
                        </div>
                    </div>
                    <div class="containerButton"> 
                        <button class="lsb" ><img class="icon"  src="assets/icon/comprobado.svg" alt=""></button>
                        <button class="lsbB"><img class="icon"  src="assets/icon/basura.svg" alt="svg"></button>
                    </div>
                </div>

                <div class="conAmigos">
                    <div class="conDatos">
                        <img src="https://i.pinimg.com/564x/0d/60/14/0d6014d3db35db2cadcf02a782330938.jpg" alt="">
                        <div class="conText">
                            <h1>Silica Ayanamib</h1>
                        </div>
                    </div>
                    <div class="containerButton"> 
                        <button class="lsb"><img class="icon"  src="assets/icon/comprobado.svg" alt=""></button>
                        <button class="lsbB"><img class="icon"  src="assets/icon/basura.svg" alt="svg"></button>
                    </div>
                </div>
                
                <div class="conAmigos">
                    <div class="conDatos">
                        <img src="https://i.pinimg.com/564x/0d/60/14/0d6014d3db35db2cadcf02a782330938.jpg" alt="">
                        <div class="conText">
                            <h1>Silica Ayanamib</h1>
                        </div>
                    </div>
                    <div class="containerButton"> 
                        <button class="lsb"><img class="icon"  src="assets/icon/comprobado.svg" alt=""></button>
                        <button class="lsbB"><img class="icon"  src="assets/icon/basura.svg" alt="svg"></button>
                    </div>
                </div>

                <div class="conAmigos">
                    <div class="conDatos">
                        <img src="https://i.pinimg.com/564x/0d/60/14/0d6014d3db35db2cadcf02a782330938.jpg" alt="">
                        <div class="conText">
                            <h1>Silica Ayanamib</h1>
                        </div>
                    </div>
                    <div class="containerButton"> 
                        <button class="lsb"><img class="icon"  src="assets/icon/comprobado.svg" alt=""></button>
                        <button class="lsbB"><img class="icon"  src="assets/icon/basura.svg" alt="svg"></button>
                    </div>
                </div>
                
                <div class="conAmigos">
                    <div class="conDatos">
                        <img src="https://i.pinimg.com/564x/0d/60/14/0d6014d3db35db2cadcf02a782330938.jpg" alt="">
                        <div class="conText">
                            <h1>Silica Ayanamib</h1>
                        </div>
                    </div>
                    <div class="containerButton"> 
                        <button class="lsb"><img class="icon"  src="assets/icon/comprobado.svg" alt=""></button>
                        <button class="lsbB"><img class="icon"  src="assets/icon/basura.svg" alt="svg"></button>
                    </div>
                </div>

                <div class="conAmigos">
                    <div class="conDatos">
                        <img src="https://i.pinimg.com/564x/0d/60/14/0d6014d3db35db2cadcf02a782330938.jpg" alt="">
                        <div class="conText">
                            <h1>Silica Ayanamib</h1>
                        </div>
                    </div>
                    <div class="containerButton"> 
                        <button class="lsb"><img class="icon"  src="assets/icon/comprobado.svg" alt=""></button>
                        <button class="lsbB"><img class="icon"  src="assets/icon/basura.svg" alt="svg"></button>
                    </div>
                </div>

                <div class="conAmigos">
                    <div class="conDatos">
                        <img src="https://i.pinimg.com/564x/0d/60/14/0d6014d3db35db2cadcf02a782330938.jpg" alt="">
                        <div class="conText">
                            <h1>Silica Ayanamib</h1>
                        </div>
                    </div>
                    <div class="containerButton"> 
                        <button class="lsb"><img class="icon"  src="assets/icon/comprobado.svg" alt=""></button>
                        <button class="lsbB"><img class="icon"  src="assets/icon/basura.svg" alt="svg"></button>
                    </div>
                </div>

                <div class="conAmigos">
                    <div class="conDatos">
                        <img src="https://i.pinimg.com/564x/0d/60/14/0d6014d3db35db2cadcf02a782330938.jpg" alt="">
                        <div class="conText">
                            <h1>Silica Ayanamib</h1>
                        </div>
                    </div>
                    <div class="containerButton"> 
                        <button class="lsb"><img class="icon"  src="assets/icon/comprobado.svg" alt=""></button>
                        <button class="lsbB"><img class="icon"  src="assets/icon/basura.svg" alt="svg"></button>
                    </div>
                </div>

                <div class="conAmigos">
                    <div class="conDatos">
                        <img src="https://i.pinimg.com/564x/0d/60/14/0d6014d3db35db2cadcf02a782330938.jpg" alt="">
                        <div class="conText">
                            <h1>Silica Ayanamib</h1>
                        </div>
                    </div>
                    <div class="containerButton"> 
                        <button class="lsb"><img class="icon"  src="assets/icon/comprobado.svg" alt=""></button>
                        <button class="lsbB"><img class="icon"  src="assets/icon/basura.svg" alt="svg"></button>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>