<section>
    <div class="ls">
        <div class="container">
            <div class="con">
                <div class="circulo">
                 <h3>X</h3>
                </div>
            </div>

            <div class="containers">

                <div class="conAmigos" *ngFor = 'let lista of lista'>
                    <div class="conDatos">
                        <img src="{{lista['photo']}}" alt="">
                        <div class="conText">
                            <h1>{{lista['first_name']}} {{lista['last_name']}}</h1>
                        </div>
                    </div>
                    <div class="containerButton"> 
                        <button class="lsb" (click)="agregar(lista['id'])"><img class="icon"  src="assets/icon/comprobado.svg" alt=""></button>
                        <button class="lsbB" (click)="borrar(lista['idF'])"><img class="icon"  src="assets/icon/basura.svg" alt="svg"></button>
                    </div>
                </div>

                
            </div>
        </div>
    </div>
</section>