<aside>
    <div class="headerSl">
        <br>
        <a routerLink="/configuracion" >Distant School</a>
    </div>
    <div>
        <button routerLink="/Dashboard" >Regresar al home</button>
        <button routerLink="/configuracion/editarUsuario" routerLinkActive="active">Editar Perfil</button>
        <button routerLink="/configuracion/aceptacionAmigos" routerLinkActive="active">Solicitud de amistad</button>
        <button routerLink="/configuracion/creacion-grupos" >Crear grupo</button>
        <button (click)="cerrar()">Cerrar Sección</button>
    </div>
</aside>

<router-outlet></router-outlet>