<section>
    <div class="lsd">
        <div class="ls">
            <div class="container">
                <div class="con">
                    <div class="circulo">
                     <h3>X</h3>
                    </div>
                </div>
            </div>
    
           <form  [formGroup]="formGrup" (ngSubmit)="guardarGrupo()">
            <div class="containerGrups">
                <img [src]="foto" alt="">
                <label class="circlePhoto">x<input type="file" name="image"(change)="selectImage($event)" accept="image/png, .jpeg, .jpg, image/gif"/></label>
              </div>
       
              <div class="conComponet">
                  <div class="conComponets">
                      <label class="ls1">Nombre del grupo</label>
                      <input type="text" formControlName="name">
                  </div>
                  <div class="conComponets">
                   <label for="">Descripción</label>
                   <textarea name="" id="" cols="30" rows="10" formControlName="descripcion"></textarea>
               </div>
               <button [disabled]="formGrup.valid==false" >Guardar</button>
              </div>
           </form>
        </div>
        
        <div class="lsB" *ngIf="verificar">
            <div class="containerTwo">
                <div class="con">
                    <div class="circulo">
                     <h3>X</h3>
                    </div>
                </div>

                <div class="conButtons">
                    <button class="buttons" (click)=" activarVentana()">Agregar personal</button>
                </div>

                <div class="cons">              
              
                    <div class="conContacto">
                        <div class="conDatos">
                            <img class="photo" src="https://i.pinimg.com/564x/99/3b/b5/993bb5aa3c4334bf7ebba106fa1fd5a7.jpg" alt="">
                            <div  class="conText">
                                <h1>Silica Ayanami </h1>
                            </div>
                        </div>
                        <div class="containerButton"> 
                            <button class="lsbB"><img class="icon"  src="assets/icon/basura.svg" alt="svg"></button>
                        </div>
                    </div>

                </div>

                <div class="conButtons">
                    <button class="buttons">Guardar</button>
                 </div>

            </div>
        </div>
    </div>
    <div class="contenedor">
        <div class="overlay" id="overlay">
          <div class="popup" id="popup">
            <h3>Busqueda de usario</h3>
            <form [formGroup]="form" (ngSubmit)="guardar()">
              <div class="contenedor-inputs">
                <input type="text" class="textContainer" placeholder="Busqueda" formControlName="username">
              </div>
               <button id="btn-cerrar-popup" class="btn-submit"  [disabled]="form.valid==false" class="button">Guardar</button><br>
            </form>
              <button class="close"  id="close" (click)="close()" class="buttonC">Cerrar</button>
          </div>
        </div>
      </div>
</section>