<section>
    <div class="container">
        <div class="con">
            <div class="barra">
                <div class="conSearch">
                    <form >
                        <input class="search"  type="search"  placeholder="Busqueda" >
                    </form>
                </div>
            </div>
            <div class="lista">

            </div>

            <div class="confi">

            </div>
        </div>
        <div class="ls">
            <div class="barraChat">

            </div>

            <div class="containerChat">

            </div>

            <div class="conButtons">

            </div>
        </div>
    </div>    
</section>