*{
	padding: 0;
	margin: 0;
    box-sizing: border-box;
    font-family: "Sunflower", sans-serif;
    outline: none;
    text-decoration: none;
}

.ls{
    position: fixed;
    height: 630px;
    top: 5.2rem;
    left: 653px;
    width:1000px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow-x: hidden;
    overflow-y: auto;
    transform: translateX(-20%);
}

section{
    width: 100%; 
    height: 100%;
	left:363px; 
	top: 0; 
    z-index: 1000;
	position: fixed;
    background: black;
    overflow: hidden;
}

.container{
    background: #615F5F;
    max-width:789px;
    width: 100%;
    height: 620px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    margin-top: 0px;
    margin-left: 95px;
}

.circulo{
    display: flex;
    width: 32px;
    height: 32px;
    margin: 5px 730px;
    font-size: 20px;
    border-radius: 80px;
    background: #C4C4C4;
}

h3{
    margin-top: 3px;
    margin-left: 8px;
}

.circulo:hover,.circulo:active{
    background: #343434;
    color: #fff;
}

.con{
    max-width: 789px;
    width: 100%;
    height:46px;
    border-radius: 20px 20px 0px 0px;
    background: #602290;
}

img{
    width:159px;
    height:159px;
    border-radius: 80%;
    object-fit:inherit;
    margin-top: 20px;
}

.components{
    margin-top: 5px;
    max-width: 750px;
    width: 100%;
    height:380px;
    background: #2D2D2D;
    border-radius: 20px 20px 0px 0px;
}

