<section>
    <div class="ls">
     <div class="container">
         <div class="con">
             <div class="circulo">
              <h3>X</h3>
             </div>
         </div>
  
         <div class="containerEditar">
             <img src="https://i.pinimg.com/564x/7b/cb/e8/7bcbe80ddf00315bab91d13404c5d592.jpg" alt="">
             <div class="conDatos">
                <h1 style="font-size: 30px;">{{user['username']}}</h1>
             </div>
        </div>
         <div class="components">
            <div class="conText">
                <h3 class="l1">Nombre</h3>
                <h1 class="l1">{{user['first_name']}}</h1>
            </div>
            <div class="conText">
                <h3 class="l1">Correo Electronico</h3>
                <h1 class="l1">{{user['email']}}</h1>
            </div>
            <div class="conTexts">
                <h3 class="l1">Descripción</h3>
                <h1 class="l1">{{descripcion}}</h1>
            </div>
         </div>
     </div>
    </div>
 </section>